html {
  font-family: Arial, sans-serif;
}

.cards {
  width: 80%;
  margin: 0 auto;
}

.table {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

p {
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
  padding: 10px;
  margin: 10px;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  overflow-wrap: break-word;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
  border: 4px solid rgba(0, 0, 0, 0.4);
}

button {
  outline: none;
  height: 32px;
  width: 70%;
  margin: 4px auto;
  font-size: medium;
  border-radius: 5px;
  border: none;
  background: linear-gradient(rgb(114, 114, 114), rgb(148, 147, 147) 50%, rgb(88, 88, 88) 45%);
  color: inherit;
  cursor: pointer;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  letter-spacing: 1px;
}

button:hover {
  background: linear-gradient(rgb(63, 63, 63), rgb(148, 147, 147) 50%, rgb(51, 51, 51) 45%);
}

#btn {
  width: 138px;
  height: 38px;
  color: floralwhite;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
}

.green {
  background-color: limegreen;
}

.red {
  background-color: crimson;
}

.green,
.red {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 40px 40px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  clear: both;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.create-button {
  margin-left: 14px;
}

.label-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  float: none;
  clear: both;
  width: 85%;
  margin: 15px auto;
}

label {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2px;
}

input {
  height: 39px;
  font-size: 1.1rem;
  padding-left: 7px;
  border-radius: 4px;
  border: none;
  background-color: gainsboro;
  width: 100%;
}

#read {
  width: 15px;
  vertical-align: sub;
}

.submit-label {
  display: inline-flex;
  align-items: center;
}
